/** snippet para todas las cajas pero hay navegadores que no lo soportan **/

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
/*globales*/
a {
    text-decoration: none;
    color: #000;
    
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

/** Header y Nav **/
.name-site {
    margin: 50px 50px;
    text-align: center;
}

.name-site  span {
    color: #037bc0;
    text-align: center;
}
.contenedor-nav {
    border-top: 1px solid #e1e1e1; 

}

.nav-principal { 
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    

}
.hero {

    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

.listado-categorias{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px ;
}

/** Box Model **/
.about {

    background-color: red;
    width: 200px;
    padding: 25px;
    box-sizing: border-box;

}